# copy this file to .env and fill in appropriate values

# site configuration
SITE_KEY=
SECRET_KEY=
SECRET_WEB=
ENCRYPTION_KEY=
CODE_IV=
CODE_KEY=
LOCAL_WEB=http://localhost:8000

# third-party APIs
FACEBOOK_APP_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=buyshop
